@import url('https://fonts.googleapis.com/css2?family=Inter&family=Marcellus&family=Poppins&display=swap');

body {
  min-height: 100vh;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f7f2ee;
}

::-webkit-scrollbar-thumb {
  background: #2c2c2c;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3afab;
}
